---
import image from "./../images/profile.png";
import { Image } from "astro:assets";
//import puceIcon from "./../assets/icons/puce.svg"; 

const introductionText = "Hi there! Still Manohy here, a passionate software engineer who loves to build things for the web(sometime useless, but still beautifull). Whether it is coding up a storm or crafting a smooth user experience, I am all in. Software is my playground, and I enjoy solving problems one line at a time. Let\'s make something amazing together!"

const softwareJourneyText = "My journey into software engineering began in 2022 when I decided to dive into the world of hackathons @HIU. I joined my school team at @ESPA and I was hooked. I tackled frontend development using React, HTML, and CSS, and the experience ignited my passion for building digital products that matter."

const educationAndExperienceText = "I hold a Master's Degree in Telecommunication Engineering, which gave me a solid foundation in tech and problem-solving. Over the past two years, I have honed my skills as a full-stack developer, working with diverse technologies to create high-quality, user-centric applications."

const currentTechnologiesText = "Lately, I have been diving into a wide range of exciting technologies, and I am always excited to learn more and expand my toolkit. Here's a quick look at what I have ve been working with recently:"

const technologiesList = [
  "JavaScript (ES6+) | Typescript",
  "React | Vue",
  "Node.js",
  "Java | SpringBoot",
  "Go",
  "Docker",
  "Linux | Archlinux (btw)",
  "Git",
  "Neovim (btw)"
]

---

<div class="container h-5">
  <div class="description">
    <span>{introductionText}</span>
    <span>{softwareJourneyText}</span>
    <span>{educationAndExperienceText}</span>
    <span>{currentTechnologiesText}</span>

    <div class="techno">
      {technologiesList.map((t) => {
          return (
            <ul>
              <li>
                {t}
              </li>
            </ul>
            )
          }
        )
      }
    </div>
  </div>
  <div class="image">
    <Image src={image} alt="profile" />
  </div>
</div> 

<style>
  .container {
    display: flex;
    gap: 2rem;
    font-family: sans-serif;

    padding-top: 2rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .techno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40rem;
  }


  .image {
    width: 30%;
  }

  .image img{
    width: 18rem;
    height: auto;
    border-radius: .2rem;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
  }

  .image img:hover {
    filter: none;
  }

  .h-5 {
    font-size: 1.1rem;
  }
</style>
